<div class="card">
    <div class="card-body">
        <h1> Compra del pack OK </h1>
        <script>
        function redireccionar(){window.location="http://localhost:3000";}
        setTimeout ("redireccionar()", 4000);
        </script>
    </div>
</div>